/.tools/
/build/
/firmware/OBJ/

*.axf
*.crf
*.d
*.dep
*.htm
*.html
*.iex
*.lnp
*.lst
*.map
*.o
*.sct
*.uvguix.*
*.uvoptx

/firmware/USER/DebugConfig/
/firmware/USER/EventRecorderStub.scvd
/firmware/USER/JLink*.txt
/firmware/USER/JLink*.ini
/firmware/USER/Nu_Link_Driver.ini
